.techDetailsContainer {
  padding: 32px 24px;
  
  .wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    border: solid 1px rgb(71, 71, 71);
    border-radius: 10px;
    background-color: #2222226a;

    .cardContainer {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      gap: 16px;

      @media (min-width: 1024px) {
        gap: 24px;
      }

      @media (min-width: 1200px) {
        flex-direction: row;
        gap: 48px;
      }
    }

    @media (min-width: 1024px) {
      padding: 32px;
    }
  }

  @media (min-width: 768px) {
    padding: 48px;
  }
}
