.divider {
    width: 50%;
    margin: 0 auto;
}

.contactWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  padding: 16px;
  margin-top: 80px;

  p {
    width: 100%;
    @media (min-width: 425px) {
      width: 80%;
    }
    @media (min-width: 1024px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 40%;
    }
  }

  .locationWrapper {
    display: flex;
    align-items: center;
    gap: 8px;

    .svg {
      width: 24px;
      height: 24px;
    }
  }

  .contactContainer {
    width: 100%;
  }
}
