.formWrapper {
    padding: 16px;

     width: 100%;
     margin-top: 16px;
     text-align: left;

     form {
        width: 100%;
        max-width: 700px;
        margin: 0 auto;

        label {
            margin-top: 12px;
        }

        textarea {
            min-height: 200px;
            max-height: 300px;
        }

        button:disabled {
            cursor: not-allowed;
            pointer-events: all !important;
        }
     }
}