.heroContainer {
  margin-top: 64px;
  padding: 32px 16px;
  text-align: center;

  h1 {
    font-size: 2.25rem;
    background: linear-gradient(90deg, #06b6d4, #7c3aed, #fb7185);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    display: inline-block;

    @media (min-width: 768px) {
      font-size: 3.25rem;
    }
  }

  h2 {
    color: white;
    font-size: 1.75rem;

    @media (min-width: 768px) {
      font-size: 2.25rem;
    }
  }

  h3 {
    width: 100%;
    margin: 0 auto 16px;

    color: rgb(180, 180, 180);

    font-size: 1.15rem;
    font-weight: 300;
    letter-spacing: 0.35px;
    word-spacing: 0.5px;
    line-height: 1.6;

    @media (min-width: 500px) {
      width: 80%;
    }

    @media (min-width: 1024px) {
      width: 75%;
    }

    @media (min-width: 1440px) {
      width: 55%;
    }
  }

  p {
    color: rgb(103, 103, 103);
    letter-spacing: 0.35px;

    span {
      color: rgb(43, 194, 228);
    }
  }

  .iconContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    width: 80%;
    margin: 32px auto;
    max-width: 1000px;
  }

  @media (min-width: 768px) {
    padding: 64px 32px;
  }
}
