.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 90px;
  padding: 6px 12px;
  border-radius: 20px;

  span {
    font-size: 0.75rem;
  }

  @media (min-width: 768px) {
     width: 110px;
     padding: 8px 16px;
     font-size: 0.85rem;
  }
}
