.infoWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;

    flex-basis: 60%;
  .infoContainer {

    & > h4 {
      font-size: 0.85rem;
      margin-bottom: 8px;
    }
    .frontendarchitecture {
      color: #2fa4f8ff;
    }

    .backendsystems {
      color: #b772e8;
    }

    .keyachievements {
      color: #73e6c2;
    }

    ul {
      padding: 0;
      li {
        margin-bottom: 0;
        font-size: 0.8rem;
        line-height: 1.8;
        list-style-position: inside;
      }
    }
  }

  @media(min-width: 425px) {
    gap: 16px;
  }

  @media(min-width: 768px) {
    gap: 32px;
  }
}
