.card {
  position: relative;
  width: 100%;
  max-width: 1150px;
  margin: 0 auto;
  padding: 24px 16px;

  border: solid 1px rgb(71, 71, 71);
  background-color: #2222226a;

  border-radius: 10px;

  & > h3 {
    width: 100%;
    max-width: 500px;
    color: white;
    margin-bottom: 16px;
  }

  & > p {
    font-size: 0.9rem;
    width: 100%;
    color: rgb(176, 176, 176);

    @media (min-width: 500px) {
      width: 85%;
    }

    @media (min-width: 768px) {
      width: 65%;
    }

    @media (min-width: 1024px) {
      width: 45%;
    }
  }

  .cardDetails {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .flowWrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 24px;

      border-radius: 10px;
      height: 100%;
      padding: 24px 16px 16px;
      background-color: rgb(20, 20, 20);
      border: solid 0.1px white;

      & > h6 {
        text-align: center;
        color: rgb(218, 218, 218);
        margin: 0;

        @media(min-width: 1024px) {
          font-size: 1.15rem;
        }
      }

      .flowContainer {
        padding: 0 0 8px 0;

        @media (min-width: 1024px) {
          padding: 16px;
        }
      }

      @media (min-width: 1024px) {
        position: absolute;
        top: 0;
        right: 0;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    @media (min-width: 1024px) {
      flex-direction: row;
    }
  }

  @media (min-width: 1024px) {
    padding: 32px;
  }
}
