.projectWrapper {
    margin: 128px 0 80px 0;

    & > h2 {
        font-size: 2rem;
        margin-bottom: 64px;
        text-align: center;
        color: white;
    }

    .projectContainer {
        display: flex;
        flex-direction: column;
        gap: 48px;

        padding: 0 16px;

        @media(min-width: 1024px) {
            gap: 64px;
        }
    }
}