$frontend: #2fa4f8ff;
$system: #b772e8;
$versioning: #73e6c2;

.card {
  flex: 1 0 0;
  height: 100%;
  max-height: 136px;
  padding: 16px;
  background-color: rgba(48, 51, 56, 0.4);
  border: 2px solid transparent;
  border-radius: 8px;

  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 0.15s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &[data-color="Frontend Development"]:hover,
  &[data-color="Frontend Development"]:focus-within {
    background-color: rgba(47, 164, 248, 0.15);
    border: solid 2px $frontend;
  }

  &[data-color="System Integrations"]:hover,
  &[data-color="System Integrations"]:focus-within {
    background-color: rgba(183, 114, 232, 0.15);
    border: solid 2px $system;
  }

  &[data-color="Git & Versioning"]:hover,
  &[data-color="Git & Versioning"]:focus-within {
    background-color: rgba(115, 230, 194, 0.15);
    border: solid 2px $versioning;
  }

  & > h3 {
    font-size: 1.15rem;
    font-weight: 600;
    margin-bottom: 12px;
  }

  & > h3[data-color="Frontend Development"] {
    color: $frontend;
  }

  & > h3[data-color="System Integrations"] {
    color: $system;
  }

  & > h3[data-color="Git & Versioning"] {
    color: $versioning;
  }

  .list {
    padding: 0;

    li {
      line-height: 1;
      list-style-position: inside;
      white-space: nowrap;

      span {
        position: relative;
        top: -1.5px;
        left: -12px;
        color: rgb(172, 172, 172);
        font-size: 0.85rem;
      }
    }
    li::marker {
      font-size: 1.25rem;
    }
    li[data-color="Frontend Development"] {
      color: $frontend;
    }
    li[data-color="System Integrations"] {
      color: $system;
    }
    li[data-color="Git & Versioning"] {
      color: $versioning;
    }
  }

  @media (min-width: 768px) {
    max-height: 152px;
  }

  @media (min-width: 1024px) {
    padding: 32px;
    max-height: 192px;
  }
}
